{% extends "_base.html" %}

{% block content %}
<style>


</style>
<div class="starter-template">
  <h1>Activity Detection and Slicing App</h1>
  <hr><br>
  <!-- <img class="banner" src="{{url_for('static', path='/banner.png')}}" alt="Banner Image"> -->
  <div class="controls">
    <div></div>
    <div class="file-selector">
        <h3>Select a Video File or Folder:</h3>
        <select id="file-list" onchange="selectFile()">
        <option value="">--Select a File--</option>
        </select>
    </div>
    <div>
        <h3>Tasks</h3>
        <p>Choose a task to run</p>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="button1" onclick="handleClick(1)">Slice Video</a>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="button1" onclick="handleDetectClick(1)">Detect Video</a>
        </div>
    </div>
    <div></div><div></div>
  </div>
  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
  <div class="controls">
    <div></div>
    <div class="file-selector">
      <h4>Select a Results File:</h4>
      <select id="results-file-list" onchange="selectResultsFile()">
        <option value="">--Select a File--</option>
      </select>
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="button1" onclick="handlePlotClick(1)">Plot Results</a>
    </div>
    <div></div><div></div>
    </div>
  </div>
  <div class="chart-container">
    <canvas id="myChart"></canvas>
  </div>
</div>

{% endblock %}
